# Ignorar todo
*

# No ignorar archivos .py en cualquier subdirectorio
!**/*.py

# No ignorar carpetas (necesario para poder incluir archivos .py dentro de carpetas)
!*/

#ignore myenv
/myenv/

# No ignorar el archivo .gitignore
!.gitignore
